.ztree * {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Microsoft YaHei", arial, "\5b8b\4f53", sans-serif, tahoma;
}

.ztree {
    margin: 0;
    padding: 0;
    color: #333;
}

    .ztree li {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 14px;
        text-align: left;
        white-space: nowrap;
        outline: 0;
    }

        .ztree li ul {
            margin: 0;
            padding: 0 0 0 20px;
        }

        .ztree li a {
            font-size: 12px;
            padding: 12px 0 0 0;
            margin: 0;
            cursor: pointer;
            height: 40px;
            color: #333;
            background-color: transparent;
            text-decoration: none;
            vertical-align: top;
            display: inline-block;
            width: 100%;
            position: relative;
        }

            .ztree li a .rowTitle {
                position: absolute;
                right: 10px;
                top: 12px;
            }

            .ztree li a.curSelectedNode {
                padding-top: 12px;
                background-color: #e9ecef !important;
                color: black;
                height: 40px;
                border: none;
                opacity: 1;
            }

            .ztree li a.curSelectedNode_Edit {
                padding-top: 0px;
                background-color: #FFE6B0;
                color: black;
                height: 40px;
                border: 1px #FFB951 solid;
                opacity: 0.8;
            }

            .ztree li a .node_name {
                display: inline-block;
                max-width: calc(100% - 60);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
                vertical-align: sub;
            }

            .ztree li a input.rename {
                height: 14px;
                width: 80px;
                padding: 0;
                margin: 0;
                font-size: 12px;
                border: 1px #7EC4CC solid;
                *border: 0px;
            }

        .ztree li span {
            line-height: 16px;
            margin-right: 2px;
        }

            .ztree li span.button {
                line-height: 0;
                margin: 0;
                width: 16px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                border: 0 none;
                cursor: pointer;
                outline: none;
                background-color: transparent;
                background-repeat: no-repeat;
                background-attachment: scroll;
            }

                .ztree li span.button.switch {
                    width: 16px;
                    height: 16px;
                    margin-top: 12px;
                    background-image: url("../images/ztreeBtn.png");
                }

                .ztree li span.button.root_open {
                    background-position: -16px 0px;
                }

                .ztree li span.button.root_close {
                    background-position: 0px 0px;
                }

                .ztree li span.button.roots_open {
                    background-position: -16px 0px;
                }

                .ztree li span.button.roots_close {
                    background-position: 0px 0px;
                }

                .ztree li span.button.center_open {
                    background-position: -16px 0px;
                }

                .ztree li span.button.center_close {
                    background-position: 0px 0px;
                }

                .ztree li span.button.bottom_open {
                    background-position: -16px 0px;
                }

                .ztree li span.button.bottom_close {
                    background-position: 0px 0px;
                }

                .ztree li span.button.noline_open {
                    background-position: -16px 0px;
                }

                .ztree li span.button.noline_close {
                    background-position: 0px 0px;
                }

                .ztree li span.button.root_docu {
                    background: none;
                }

                .ztree li span.button.roots_docu {
                    background-position: -56px 0;
                }

                .ztree li span.button.center_docu {
                    background-position: -56px -18px;
                }

                .ztree li span.button.bottom_docu {
                    background-position: -56px -36px;
                }

                .ztree li span.button.noline_docu {
                    background: none;
                }

                .ztree li span.button.ico_open {
                    margin-right: 2px;
                    background-position: -110px -16px;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.ico_close {
                    margin-right: 2px;
                    background-position: -110px 0;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.ico_docu {
                    margin-right: 2px;
                    background-position: -110px -32px;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.edit {
                    margin-right: 2px;
                    background-position: -110px -48px;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.remove {
                    margin-right: 2px;
                    background-position: -110px -64px;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.ico_loading {
                    margin-right: 2px;
                    vertical-align: top;
                    *vertical-align: middle;
                }

                .ztree li span.button.chk {
                    width: 13px;
                    height: 13px;
                    margin: 0 3px 0 0;
                    cursor: auto;
                }

                    .ztree li span.button.chk.checkbox_false_full {
                        background-position: 0 0;
                    }

                    .ztree li span.button.chk.checkbox_false_full_focus {
                        background-position: 0 -14px;
                    }

                    .ztree li span.button.chk.checkbox_false_part {
                        background-position: 0 -28px;
                    }

                    .ztree li span.button.chk.checkbox_false_part_focus {
                        background-position: 0 -42px;
                    }

                    .ztree li span.button.chk.checkbox_false_disable {
                        background-position: 0 -56px;
                    }

                    .ztree li span.button.chk.checkbox_true_full {
                        background-position: -14px 0;
                    }

                    .ztree li span.button.chk.checkbox_true_full_focus {
                        background-position: -14px -14px;
                    }

                    .ztree li span.button.chk.checkbox_true_part {
                        background-position: -14px -28px;
                    }

                    .ztree li span.button.chk.checkbox_true_part_focus {
                        background-position: -14px -42px;
                    }

                    .ztree li span.button.chk.checkbox_true_disable {
                        background-position: -14px -56px;
                    }

                    .ztree li span.button.chk.radio_false_full {
                        background-position: -28px 0;
                    }

                    .ztree li span.button.chk.radio_false_full_focus {
                        background-position: -28px -14px;
                    }

                    .ztree li span.button.chk.radio_false_part {
                        background-position: -28px -28px;
                    }

                    .ztree li span.button.chk.radio_false_part_focus {
                        background-position: -28px -42px;
                    }

                    .ztree li span.button.chk.radio_false_disable {
                        background-position: -28px -56px;
                    }

                    .ztree li span.button.chk.radio_true_full {
                        background-position: -42px 0;
                    }

                    .ztree li span.button.chk.radio_true_full_focus {
                        background-position: -42px -14px;
                    }

                    .ztree li span.button.chk.radio_true_part {
                        background-position: -42px -28px;
                    }

                    .ztree li span.button.chk.radio_true_part_focus {
                        background-position: -42px -42px;
                    }

                    .ztree li span.button.chk.radio_true_disable {
                        background-position: -42px -56px;
                    }

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

ul.ztree.zTreeDragUL {
    margin: -16px 0 0 20px;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: initial;
    background-color: transparent;
    border: none;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 9999;
}

    ul.ztree.zTreeDragUL li {
        width: 180px;
        height: 30px;
        line-height: 30px;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px 0px rgba(187, 187, 187, 0.6), 0px 0px 30px 0px rgba(187, 187, 187, 0.2);
        border: solid 1px #d9d9d9;
        border-radius: 4px;
    }

        ul.ztree.zTreeDragUL li a {
            width: 100%;
            padding-top: 0;
            padding-left: 8px;
        }

            ul.ztree.zTreeDragUL li a span.button {
                display: none;
            }

            ul.ztree.zTreeDragUL li a .node_name {
                max-width: calc(100% - 38);
            }

        ul.ztree.zTreeDragUL li .t-rbtns {
            display: none;
        }

.zTreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute;
}
